:root{
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --dark-grey:hsl(234, 12%, 34%);
  --grey:hsl(229, 6%, 66%);
  --light-grey:hsl(0, 0%, 98%);
}

body{
  background-color: var(--light-grey);
  color: var(--grey);
  font-family: 'Poppins', sans-serif;

}
h1{
  font-weight: 200;
}
h2,h3{
  color: var(--dark-grey);
}
section{
  background-color: white;
}

footer{
  margin-top: 5rem;
}
